*.pdf
*.synctex.gz
*.synctex(busy)
*.gz
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
.vscode/settings.json
*.pkf
**/.DS_Store

